<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nop Commerce">
    <test name="Verify Six Items are Shown">
        <!--        <parameter name="browserName" value="chrome"></parameter>-->
        <classes>
            <class name="Test.HomepageTest"/>
        </classes>
    </test>
</suite>